<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mem.mapper">
	<select id="check" resultType="String">
		select 'tey' from dual
	</select>
	
	<select id="test1" resultType="Integer">
		select 100 from dual
	</select>
	<select id="test2" resultType="String">
		select '${value}' from dual
	</select>
	<select id="test3" resultType="String">
		select #{param1}||#{param2} from dual
	</select>
</mapper> 